/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> UTILITY <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> STYLE <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

#dom-wrapper {
  background-image: linear-gradient(rgb(0, 150, 136),rgb(0, 150, 136));
  background-repeat: no-repeat;
  background-size: 100% 15%;
  background-color: rgb(217, 219, 215);
  width: 100vw;
  height: 100vh;
  padding: 20px 0px;
}

.page-wrapper {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: grey;
}
