/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> UTILITY <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> LAYOUT STRUCUTRE <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*ALERT: il tag dom-wrapper contiene tutta la pagina*/
#dom-wrapper {
  background-image: linear-gradient(rgb(0, 150, 136),rgb(0, 150, 136));
  background-repeat: no-repeat;
  background-size: 100% 15%;
  background-color: rgb(217, 219, 215);
  width: 100vw;
  height: 100vh;
  padding: 20px 0px;
}
/*ALERT: il tag page-wrapper contiene tutto il layout della pagina*/
.page-wrapper {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: grey; /* TEMP: da eliminare */
}

.sidebar-box {
  display: inline-block;
  width: 530px;
  height: 100%;
  border-right: 2px solid rgb(22, 20, 109);
  background-color: lightblue; /* TEMP: da eliminare */
}

.sidebar-top {
  width: 100%;
  height: 85px;
  background-color: rgb(214, 214, 214); /* like main-top and main-bottom */
  justify-content: space-between;

}

.sidebar-popup-box {
  width: 100%;
  height: 100px;
  background-color: rgb(123, 218, 250); /* like color of bell-slash */
}
.sidebar-search-box {
  width: 100%;
  height: 60px;
  background-color: rgb(214, 214, 214); /* like sidebar-top and main-bottom */
}
.sidebar-msgContact-box {
  width: 100%;
  height:calc(100% - 245px);
  background-color: yellow; /* TEMP: da eliminare */
}

.main-box {
  display: inline-block;
  width: calc(100% - 530px);
  height: 100%;
  background-color: rgba(250, 000, 000, 0.5); /* TEMP: da eliminare */
}

.main-top-box {
  width: 100%;
  height: 85px;
  background-color: rgb(214, 214, 214); /* like sidebar-top and main-bottom */
  justify-content: space-between;
}

.main-central-box {
  width: 100%;
  height:calc(100% - 170px);
  background-color: brown; /* TEMP: da eliminare */
}

.main-bottom-box {
  width: 100%;
  height: 85px;
  background-color: green; /* TEMP: da eliminare */
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> STYLE CONTENT <<<<<<<<<<<<<<<<<<<<<<<<<*/
.user-box-data {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.user-box-data img {
  width: 55px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
}

div[class$="iconBoxRight"]{
  display: flex;
  align-items: center;
  font-size: 28px;
  color: rgb(165, 165, 165);
  margin-right: 15px;
}
div[class$="iconBoxRight"] > i{
  margin: 0px 12px;
  cursor: pointer;
}

.name-data {
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.access-data {
  color: rgb(165, 165, 165);
  font-size: 15px;
  cursor: pointer;
}

.sidebar-popup-box {
  align-items: center;
  padding-left: 15px;
}
.logo-popup-container {
  margin-right: 15px;

}
.logo-popup-container i {
  font-size: 28px;
  color: rgb(123, 218, 250); /* like background-color of popup*/
  border-radius: 50%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
}
.sidebar-popup-box .underline-textLink {
  font-size: 15px;
  color: rgb(91, 157, 159); /* like background-color of popup*/
  text-decoration: underline;
  cursor: pointer;
}

.sidebar-search-box {
  align-items: center;
  padding: 10px 15px;
}

.input-container {
  align-items: center;
  background-color: rgb(255, 255, 255);
  width:100%;
  height: 100%;
  border-radius: 3px;
  padding-left: 20px;
}
.input-container i {
  vertical-align: middle;
  margin-right: 20px;
  color: rgb(165, 165, 165);
  cursor: pointer;
}
.input-container input {
  width: 90%;
  font-size: 15px;
  border: none;
}
.input-container input:focus {
  outline: none;
}
